--
-- PostgreSQL database dump
--

\restrict YqdLaaLMDKko4lwxkkp5KiWHa4oX9BC40bBZDsr3t0XD7dehdsEfln86VMtxSPh

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg12+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


--
-- Name: update_timestamp(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.update_timestamp() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN NEW.actualizado_en = now(); RETURN NEW; END;
$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: archivos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.archivos (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    edularp_id uuid,
    nombre text NOT NULL,
    ruta text NOT NULL,
    tipo_mime text,
    tamanio integer,
    creado_en timestamp with time zone DEFAULT now()
);


--
-- Name: cartas_juego; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cartas_juego (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    edularp_id uuid,
    nombre text NOT NULL,
    tipo text NOT NULL,
    habilidad text,
    lore text,
    imagen_url text,
    orden integer DEFAULT 0,
    descripcion text,
    CONSTRAINT cartas_juego_tipo_check CHECK ((tipo = ANY (ARRAY['personaje'::text, 'habilidad'::text, 'objeto'::text, 'evento'::text, 'figura_historica'::text, 'otro'::text])))
);


--
-- Name: chat_historial; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.chat_historial (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    usuario_id uuid,
    mensaje_usuario text NOT NULL,
    respuesta_bot text NOT NULL,
    larps_usados uuid[],
    creado_en timestamp with time zone DEFAULT now(),
    session_id uuid,
    session_title text,
    actualizado_en timestamp with time zone DEFAULT now()
);


--
-- Name: edularp; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.edularp (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    autor_id uuid,
    nombre text NOT NULL,
    proyecto text,
    descripcion text NOT NULL,
    storyboard text NOT NULL,
    storyboard_alt text,
    nivel_educativo text NOT NULL,
    asignaturas text NOT NULL,
    duracion_min integer NOT NULL,
    num_participantes integer NOT NULL,
    materiales text,
    evaluacion text,
    notas_docente text,
    competencias text[],
    estado text DEFAULT 'borrador'::text NOT NULL,
    feedback_admin text,
    embedding public.vector(1536),
    creado_en timestamp with time zone DEFAULT now(),
    actualizado_en timestamp with time zone DEFAULT now(),
    tipo_version text DEFAULT 'original'::text NOT NULL,
    recursos_globales jsonb,
    imagenes_urls text[] DEFAULT '{}'::text[],
    embedding_es public.vector(768),
    embedding_en public.vector(768),
    inclusion_index jsonb,
    idioma_original text DEFAULT 'es'::text NOT NULL,
    veces_modificada integer DEFAULT 0 NOT NULL,
    traduccion_de uuid,
    CONSTRAINT edularp_duracion_min_check CHECK (((duracion_min >= 30) AND (duracion_min <= 300))),
    CONSTRAINT edularp_estado_check CHECK ((estado = ANY (ARRAY['borrador'::text, 'revision'::text, 'pending_review'::text, 'lm_analyzed'::text, 'under_review'::text, 'publicado'::text, 'rechazado'::text]))),
    CONSTRAINT edularp_idioma_original_check CHECK ((idioma_original = ANY (ARRAY['es'::text, 'en'::text]))),
    CONSTRAINT edularp_nivel_educativo_check CHECK ((nivel_educativo = ANY (ARRAY['Primaria'::text, 'Secundaria'::text]))),
    CONSTRAINT edularp_num_participantes_check CHECK (((num_participantes >= 2) AND (num_participantes <= 40))),
    CONSTRAINT edularp_tipo_version_check CHECK ((tipo_version = ANY (ARRAY['original'::text, 'traducida'::text, 'modificada'::text])))
);


--
-- Name: misiones; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.misiones (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    edularp_id uuid,
    titulo text NOT NULL,
    objetivo text NOT NULL,
    duracion_min integer,
    formato text,
    problema_larp text,
    problema_real text,
    solucion text,
    recursos text,
    inclusion text,
    orden integer DEFAULT 0
);


--
-- Name: notificaciones; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.notificaciones (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    usuario_id uuid,
    edularp_id uuid,
    tipo text NOT NULL,
    mensaje text,
    leida boolean DEFAULT false,
    creado_en timestamp with time zone DEFAULT now(),
    CONSTRAINT notificaciones_tipo_check CHECK ((tipo = ANY (ARRAY['aprobado'::text, 'rechazado'::text, 'aprobado_con_feedback'::text, 'nuevo_registro'::text, 'bienvenida'::text])))
);


--
-- Name: objetivos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.objetivos (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    edularp_id uuid,
    tipo text NOT NULL,
    descripcion text NOT NULL,
    CONSTRAINT objetivos_tipo_check CHECK ((tipo = ANY (ARRAY['Hist├│rico'::text, 'T├®cnico'::text, 'Narrativo / dise├▒o'::text, 'Colaborativo'::text, 'Actitudinal'::text, 'Competencial'::text, 'Otro'::text])))
);


--
-- Name: paralelos_realidad; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.paralelos_realidad (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    edularp_id uuid,
    narrativa text NOT NULL,
    mundo_real text NOT NULL,
    proposito text,
    orden integer DEFAULT 0
);


--
-- Name: roles_participantes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.roles_participantes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    edularp_id uuid,
    nombre_rol text NOT NULL,
    nombre_habilidad text,
    desc_habilidad text NOT NULL,
    uso_juego text,
    orden integer DEFAULT 0
);


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.usuarios (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    nombre text NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    rol text DEFAULT 'docente'::text NOT NULL,
    estado text DEFAULT 'pendiente'::text NOT NULL,
    creado_en timestamp with time zone DEFAULT now(),
    ultimo_acceso timestamp with time zone,
    CONSTRAINT usuarios_estado_check CHECK ((estado = ANY (ARRAY['activo'::text, 'pendiente'::text, 'suspendido'::text]))),
    CONSTRAINT usuarios_rol_check CHECK ((rol = ANY (ARRAY['admin'::text, 'docente'::text, 'visitante'::text])))
);


--
-- Data for Name: archivos; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.archivos (id, edularp_id, nombre, ruta, tipo_mime, tamanio, creado_en) FROM stdin;
\.


--
-- Data for Name: cartas_juego; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: chat_historial; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: edularp; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: misiones; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: notificaciones; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: objetivos; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: paralelos_realidad; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: roles_participantes; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: archivos archivos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.archivos
    ADD CONSTRAINT archivos_pkey PRIMARY KEY (id);


--
-- Name: cartas_juego cartas_juego_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cartas_juego
    ADD CONSTRAINT cartas_juego_pkey PRIMARY KEY (id);


--
-- Name: chat_historial chat_historial_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_historial
    ADD CONSTRAINT chat_historial_pkey PRIMARY KEY (id);


--
-- Name: edularp edularp_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.edularp
    ADD CONSTRAINT edularp_pkey PRIMARY KEY (id);


--
-- Name: misiones misiones_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.misiones
    ADD CONSTRAINT misiones_pkey PRIMARY KEY (id);


--
-- Name: notificaciones notificaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notificaciones
    ADD CONSTRAINT notificaciones_pkey PRIMARY KEY (id);


--
-- Name: objetivos objetivos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.objetivos
    ADD CONSTRAINT objetivos_pkey PRIMARY KEY (id);


--
-- Name: paralelos_realidad paralelos_realidad_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.paralelos_realidad
    ADD CONSTRAINT paralelos_realidad_pkey PRIMARY KEY (id);


--
-- Name: roles_participantes roles_participantes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.roles_participantes
    ADD CONSTRAINT roles_participantes_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_email_key UNIQUE (email);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: idx_chat_session; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_chat_session ON public.chat_historial USING btree (usuario_id, session_id);


--
-- Name: idx_chat_session_updated; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_chat_session_updated ON public.chat_historial USING btree (session_id, actualizado_en DESC);


--
-- Name: idx_chat_usuario; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_chat_usuario ON public.chat_historial USING btree (usuario_id);


--
-- Name: idx_edularp_autor; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_edularp_autor ON public.edularp USING btree (autor_id);


--
-- Name: idx_edularp_embedding_en; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_edularp_embedding_en ON public.edularp USING hnsw (embedding_en public.vector_cosine_ops) WITH (m='16', ef_construction='64');


--
-- Name: idx_edularp_embedding_es; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_edularp_embedding_es ON public.edularp USING hnsw (embedding_es public.vector_cosine_ops) WITH (m='16', ef_construction='64');


--
-- Name: idx_edularp_estado; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_edularp_estado ON public.edularp USING btree (estado);


--
-- Name: idx_edularp_fts; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_edularp_fts ON public.edularp USING gin (to_tsvector('spanish'::regconfig, ((((nombre || ' '::text) || descripcion) || ' '::text) || storyboard)));


--
-- Name: idx_edularp_nivel; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_edularp_nivel ON public.edularp USING btree (nivel_educativo);


--
-- Name: idx_notif_usuario; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_notif_usuario ON public.notificaciones USING btree (usuario_id, leida);


--
-- Name: edularp trg_edularp_updated; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_edularp_updated BEFORE UPDATE ON public.edularp FOR EACH ROW EXECUTE FUNCTION public.update_timestamp();


--
-- Name: archivos archivos_edularp_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.archivos
    ADD CONSTRAINT archivos_edularp_id_fkey FOREIGN KEY (edularp_id) REFERENCES public.edularp(id) ON DELETE CASCADE;


--
-- Name: cartas_juego cartas_juego_edularp_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cartas_juego
    ADD CONSTRAINT cartas_juego_edularp_id_fkey FOREIGN KEY (edularp_id) REFERENCES public.edularp(id) ON DELETE CASCADE;


--
-- Name: chat_historial chat_historial_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_historial
    ADD CONSTRAINT chat_historial_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON DELETE CASCADE;


--
-- Name: edularp edularp_autor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.edularp
    ADD CONSTRAINT edularp_autor_id_fkey FOREIGN KEY (autor_id) REFERENCES public.usuarios(id) ON DELETE SET NULL;


--
-- Name: edularp edularp_traduccion_de_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.edularp
    ADD CONSTRAINT edularp_traduccion_de_fkey FOREIGN KEY (traduccion_de) REFERENCES public.edularp(id) ON DELETE SET NULL;


--
-- Name: misiones misiones_edularp_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.misiones
    ADD CONSTRAINT misiones_edularp_id_fkey FOREIGN KEY (edularp_id) REFERENCES public.edularp(id) ON DELETE CASCADE;


--
-- Name: notificaciones notificaciones_edularp_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notificaciones
    ADD CONSTRAINT notificaciones_edularp_id_fkey FOREIGN KEY (edularp_id) REFERENCES public.edularp(id) ON DELETE CASCADE;


--
-- Name: notificaciones notificaciones_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notificaciones
    ADD CONSTRAINT notificaciones_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON DELETE CASCADE;


--
-- Name: objetivos objetivos_edularp_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.objetivos
    ADD CONSTRAINT objetivos_edularp_id_fkey FOREIGN KEY (edularp_id) REFERENCES public.edularp(id) ON DELETE CASCADE;


--
-- Name: paralelos_realidad paralelos_realidad_edularp_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.paralelos_realidad
    ADD CONSTRAINT paralelos_realidad_edularp_id_fkey FOREIGN KEY (edularp_id) REFERENCES public.edularp(id) ON DELETE CASCADE;


--
-- Name: roles_participantes roles_participantes_edularp_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.roles_participantes
    ADD CONSTRAINT roles_participantes_edularp_id_fkey FOREIGN KEY (edularp_id) REFERENCES public.edularp(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict YqdLaaLMDKko4lwxkkp5KiWHa4oX9BC40bBZDsr3t0XD7dehdsEfln86VMtxSPh

